<header>
  <nav>
    <ul>
      {% if is_sale %}
      <li><a href="{% url 'parts:part_list' %}">Детали</a></li>
      <li><a href="{% url 'parts:responses' %}">Запросы</a></li>
      {% else %}
      <li><a href="{% url 'parts:part_list' %}">Детали</a></li>
      <li><a href="{% url 'parts:quota_list' %}">Квоты</a></li>
      <li><a href="{% url 'parts:request_list' %}">Запросы</a></li>
      <li><a href="{% url 'parts:requests_and_quotas' %}">Таблица</a></li>
      <li><a href="{% url 'parts:upload_quotas' %}">Загрузить квоты (.xlsx)</a></li>
      {% endif %}
    </ul>
  </nav>
</header>