{% extends 'base.html' %}

{% block content %}
<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<h1>{{ object.number }} - {{ object.series }}</h1>
<p>Manufacturer: {{ object.manufacturer }}</p>
<p>Link to Digikey: <a href="{{ object.link_to_digikey }}">{{ object.digikey_link }}</a></p>
<p>Link to Manufacturer page: <a href="{{ object.link_to_manufacturer }}">{{ object.manufacturer_link }}</a></p>

<h2>Quotes</h2>
<table>
    <thead>
        <tr>
            <th>Supplier</th>
            <th>QTY</th>
            <th>D/C</th>
            <th>U/P(USD)</th>
            <th>L/T</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for quote in quotes %}
        <tr>
            <td>{{ quote.supplier }}</td>
            <td>{{ quote.quantity }}</td>
            <td>{{ quote.datecode }}</td>
            <td>{{ quote.price }}</td>
            <td>{{ quote.lead_time }}</td>
            <td>{{ quote.created_at|date:"d-m-Y H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% block extra_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        Highcharts.chart('chart-container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'История цен'
            },
            xAxis: {
                categories: [{% for quota in quotas %}'{{ quota.date }}', {% endfor %}]
            },
            yAxis: {
                title: {
                    text: 'Цена (USD)'
                }
            },
            series: [{
                name: 'Цена',
                data: [{% for quota in quotas %}{{ quota.price }}, {% endfor %}, ]
            }]
        });
    </script>
{% endblock %}

{% endblock %}