{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Part List{% endblock %}</h1>
    <a href="{% url 'parts:part_create' %}">Create a new part</a>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Series</th>
                <th>Manufacturer</th>
                <th>Last Quote Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for part in parts %}
                <tr>
                    <td><a href="{% url 'parts:part_detail' part.id %}">{{ part.number }}</a></td>
                    <td>{{ part.series }}</td>
                    <td>{{ part.manufacturer }}</td>
                    {% if part.last_quote_date != None %}
                    <td>{{ part.last_quote_date|date:"d-m-Y" }}</td>
                    {% else %}
                    <td> No available </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'parts:part_update' part.id %}">Edit</a> |
                        <a href="{% url 'parts:part_delete' part.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}