{% extends 'base.html' %}
{% block content %}
<table>
  <div class="d-flex justify-content-between align-items-center mb-1">
    <div class="d-flex">
      <form method="get" class="form-inline search-form ml-auto">
        <button type="submit" class="btn btn-outline-dark btn-sm ml-">Поиск</button>
        <div class="button_padding"><a href="{% url 'parts:upload_quotas' %}" class="btn btn-outline-dark btn-sm">Загрузить квоты (.xlsx)</a></div>
        <div class="form-group">
          {{ filter.form }}
        </div>
      </form>
    </div>
  </div>
</table>

<table class="table table-hover">
  <tr>
    <th>№</th>
    <th>Серия</th>
    <th>Part Number</th>
    <th>Бренд</th>
    <th>Кол-во</th>
    <th>Цена</th>
    <th>DC</th>
    <th>Поставщик</th>
    <th>Дата квоты</th>
  </tr>
  {% for item in result %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.part.series }}</td>
    <td>{{ item.part.number }}</td>
    <td>{{ item.part.brand }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.datecode }}</td>
    <td>{{ item.supplier }}</td>
    <td>{{ item.date }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}