{% extends 'base.html' %}
{% block content %}
<style xmlns="http://www.w3.org/1999/html">
  td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}
</style>

<form method="get">
  {{ filter.form }}
  <button type="submit">Поиск</button>
</form>

<table>
  <tr>
    <th>№</th>
    <th>Серия</th>
    <th>Part Number</th>
    <th>Бренд</th>
    <th>Кол-во</th>
    <th>Организация</th>
    <th>Дата запроса</th>
    <th>Менеджер</th>
    <th>Номер в квоте</th>
    <th>Бренд</th>
    <th>Quota Quantity</th>
    <th>USD Price</th>
    <th>RUB Price</th>
    <th>Морем/Авиа </th>
    <th>Quota DC</th>
    <th>Lead Time</th>
    <th>Quota Supplier</th>
    <th>Quota Date</th>
  </tr>
  {% for item in result %}
  <tr>
    <td>{{ item.request.id }}</td>
    <td>{{ item.request.part.series }}</td>
    <td>{{ item.request.part.number }}</td>
    <td>{{ item.request.part.brand }}</td>
    <td>{{ item.request.quantity }}</td>
    <td>{{ item.request.customer }}</td>
    <td>{{ item.request.date|date:"d.m.Y" }}</td>
    <td>{{ item.request.manager }}</td>
    <td>{{ item.quota.part.number }}</td>
    <td>{{ item.quota.part.brand }}</td>
    <td>{{ item.quota.quantity }}</td>
    <td>{{ item.quota.price }}</td>
    <td>{{ item.quota.ruble_price|floatformat:2 }}</td>
    <td>{{ item.ruble_sea_price|floatformat:2 }} | {{ item.ruble_air_price|floatformat:2 }}</td>
    <td>{{ item.quota.datecode }}</td>
    <td>{{ item.quota.lead_time }}</td>
    <td>{{ item.quota.supplier }}</td>
    <td>{{ item.quota.date|date:"d.m.Y" }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}