{% extends 'base.html' %}
{% load django_tables2 %}
{% block content %}
<table>
  <div class="d-flex justify-content-between align-items-center mb-1">
    <div class="d-flex">
      <form method="get" class="form-inline search-form ml-auto">
        <button type="submit" class="btn btn-outline-dark btn-sm ml-">Поиск</button>
        <div class="button_padding"><a href="{% url 'parts:request_create' %}" class="btn btn-outline-dark btn-sm">Создать запрос</a></div>
        <div class="form-group">
          {{ filter.form }}
        </div>
      </form>
    </div>
  </div>
</table>

  <div class="table-responsive">
    {% render_table table %}
{% block table_pagination %}
        <nav aria-label="...">
            <ul class="pagination">
                {% if table.page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ table.page.previous_page_number }}">Предыдущая</a></li>
                {% endif %}
                {% for page in table.page_range %}
                    {% if table.page.number == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if table.page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ table.page.next_page_number }}">Следущая</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}
{% endblock %}